spring:
  application:
    name: gateway-server

  cloud:
    gateway:
      server:
        webflux:
          routes:
          # ---------- AUTH ----------
          - id: auth-service
            uri: lb://auth
            predicates:
              - Path=/auth/**

          # ---------- MOVIES ----------
          - id: movies-public
            uri: lb://movies
            predicates:
              - Path=/movies/user/**

          - id: movies-private
            uri: lb://movies
            predicates:
              - Path=/movies/**
            filters:
              - JwtAuthenticationFilter

          # ---------- SERIES ----------
          - id: series-public
            uri: lb://series
            predicates:
              - Path=/series/user/**

          - id: series-private
            uri: lb://series
            predicates:
              - Path=/series/**
            filters:
              - JwtAuthenticationFilter

          # ---------- BOOKS ----------
          - id: books-public
            uri: lb://books
            predicates:
              - Path=/books/user/**

          - id: books-private
            uri: lb://books
            predicates:
              - Path=/books/**
            filters:
              - JwtAuthenticationFilter

          # ---------- GAMES ----------
          - id: games-public
            uri: lb://games
            predicates:
              - Path=/games/user/**

          - id: games-private
            uri: lb://games
            predicates:
              - Path=/games/**
            filters:
              - JwtAuthenticationFilter

server:
  port: 8765

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
