spring:
  application:
    name: gateway-server
    
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: movies
              uri: lb://movies
              predicates:
                - Path=/movies/**
                - Method=GET

server:
  port: 8765

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka