spring:
  application:
    name: gateway-server

  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: movies-service
              uri: lb://movies
              predicates:
                - Path=/movies/**

            - id: series-service
              uri: lb://series
              predicates:
                - Path=/series/**

            - id: books-service
              uri: lb://books
              predicates:
                - Path=/books/**
            
            - id: games-service
              uri: lb://games
              predicates:
                - Path=/games/**

server:
  port: 8765

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
